body {
	padding-top: 50px;
}

/* Overide bootstrap heading style */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 300;
}

/* Overide bootstrap page header style */
.page-header {
	/* padding-bottom: 9px; */
	/* margin: 40px 0 20px; */
	margin: 10px 0 20px;
	/* border-bottom: 1px solid #eeeeee; */
}
.page-header a {
	text-decoration:none;
	color: #000;
}

.nav-icon > li > a {
	padding-left: 7px;
	padding-right: 7px;
}

.fravr-nav {
	background-color: #00896b;
	border-color: #32665b;
}
/* .fravr-nav { */
/*   text-shadow:C:\Program Files (x86)\KDiff3 0 -1px 0 rgba(0,0,0,.15); */
/*   background-color: #563d7c; */
/*   border-color: #463265; */
/*   box-shadow: 0 1px 0 rgba(255,255,255,.1); */
}
.fravr-nav .navbar-collapse {
	border-color: #463265;
}
/* .fravr-nav .navbar-brand { */
/* 	color: #fff; */
/* } */
.fravr-nav .navbar-brand > img {
	vertical-align: top;
}
.fravr-nav .navbar-nav > li > a {
	color: #cbf2ea;
}
/* Overide bootstrap glyphicon style */
.fravr-nav .navbar-nav .glyphicon {
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	/* position: relative; */
	/* top: 1px; */
	/* display: inline-block; */
	/* font-family: 'Glyphicons Halflings'; */
	/* font-style: normal; */
	/* font-weight: normal; */
	/* line-height: 1; */
	/* -webkit-font-smoothing: antialiased; */
	/* -moz-osx-font-smoothing: grayscale; */
}


.fravr-body {
	margin-top:100px
}

/* product page styles */ 
.product-page-content {
	background-color: #fffff;
	border-style: solid;
	border-width: thin;
	border-radius: 8px;
	border-color: #b3b3b3;
}
.product-page-content .product-title {
	margin-top:30px
}
.product-title .merchant-name {
	color:#36d792;
}
.product-title .price {
	text-align:right;
}
.product-page-content .product-img-main {
	width: 100%;
	margin-bottom: 12%;
}
.product-page-content .product-img-side {
	width: 100%;
	margin-bottom: 12%;
}

.product-page-content .product-description {
	margin-bottom: 30px;  
}
.product-page-content .comments-divider{
	height: 1px;
	background-color: #d7c7c7;
}
.comments-divider .icons {
	background-color: #ffffff;
	text-align:center;
	color: green;
	position: relative;
	top: -2em;
}
.comments-divider  .icon-reviews{
	left: -1em;
	width: 11%;
}
.comments-divider .icon-comments{
	left: -1em;
	width: 12.5%;
}



