.fravr-nav {
background-color: #00896b;
border-color: #32665b;
}
/* .fravr-nav { */
/*   text-shadow: 0 -1px 0 rgba(0,0,0,.15); */
/*   background-color: #563d7c; */
/*   border-color: #463265; */
/*   box-shadow: 0 1px 0 rgba(255,255,255,.1); */
}
.fravr-nav .navbar-collapse {
  border-color: #463265;
}
.fravr-nav .navbar-brand {
  color: #fff;
}
.fravr-nav .navbar-nav > li > a {
  color: #cbf2ea;
}

.fravr-body {
	margin-top:100px
}

/* product page styles */ 
.product-page-content {
	background-color: #fffff;
	border-style: solid;
	border-width: thin;
	border-radius: 10px;
	/* border-color: red; */
}

.product-page-content .product-title {
	margin-top:30px
}

.product-page-content .product-title .merchant-name {
	color:#36d792;
}

.product-page-content .product-img-main {
	width: 100%;
	margin-bottom: 12%;
}

.product-page-content .product-img-side {
	width: 100%;
	margin-bottom: 12%;
}

.product-page-content .product-description {

}
