Handlebars.registerPartial($("script[src]").last().attr('data-name'),
(function () {/*
<div class="fravr-clipping">
<span class="clipping-close">asdf</span>
<h3>Example heading </h3>
<div class="clipping-container">
<div class="row">
	<div class="col-sm-12">
	<p>lorem ipsum</p>
	</div>
</div>
</div>
</div>
*/}).toString().split('\n').slice(1, -1).join('\n'));
