Template.set('timelineItem',
(function () {/*
<div class="item" data-name="{{product.id}}">
	<div class="crop">
		<div class="fravr-btn">
		<div class="map">
			{{#ifFrav product.id}}
			<button type="button" class="btn btn-default btn-sm btn-top btn-left btn-success btn-frav disabled">
				Frav'd
			</button>
			{{else}}
			<button type="button" class="btn btn-default btn-sm btn-top btn-left btn-success btn-frav">
				<span class="glyphicon glyphicon-star"></span> Frav
			</button>
			{{/ifFrav}}
			<button type="button" class="btn btn-default btn-sm btn-top btn-right btn-share">
				<span class="glyphicon glyphicon-share-alt"></span> Share
			</button>
			{{#ifClipping product.id}}
			<button type="button" class="btn btn-default btn-sm btn-bottom btn-left btn-clip disabled">
				Clipped
			</button>
			{{else}}
			<button type="button" class="btn btn-default btn-sm btn-bottom btn-left btn-clip">
				<span class="glyphicon glyphicon-paperclip"></span> Clip
			</button>
			{{/ifClipping}}
			<button type="button" class="btn btn-default btn-sm btn-bottom btn-right btn-cart">
				<span class="glyphicon glyphicon-shopping-cart"></span> Cart
			</button>
		</div>
		</div>
		<img src="{{product.img_urls.0.url}}">
		<div class="overlay-effect"></div>
	</div>
	<a href="product.htm?product={{product.id}}"><span class="title">{{product.name}}</span></a>
	{{#if actions}}
		{{#ifequals actions.length 0}}
		<span class="subtitle">by {{product.merchant}}</span>
		{{else}}
			{{#ifequals actions.length 1}}
				{{#ifequals actions.0.action 'purchase'}}
					<span class="subtitle">by {{product.merchant}}</span>
				{{/ifequals}}
			{{else}}
			<span class="subtitle">by {{product.merchant}}</span>
			{{/ifequals}}
		{{/ifequals}}
	{{else}}
	<span class="subtitle">by <a href="#">{{product.merchant}}</a></span>
	{{/if}}
</div>
*/}).toString().split('\n').slice(1, -1).join('\n'));
